<a href="https://colab.research.google.com/github/Erasmus125/NexValli-Project/blob/main/hlthinvest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving hlthinvest.csv to hlthinvest.csv

In [2]:
import pandas as pd

In [5]:
import io
df=pd.read_csv(io.BytesIO(uploaded['hlthinvest.csv']))

In [6]:
df.head()

,Countrycode,Country,Year,Hospital_Stay,MRI_Units,CT_Scanners,Hospital_Beds
0,AUS,Australia,1992,6.6,1.43,16.71,1.43
1,AUS,Australia,1994,6.4,2.36,18.48,2.36
2,AUS,Australia,1995,6.5,2.89,20.55,2.89
3,AUS,Australia,1996,6.4,2.96,21.95,2.96
4,AUS,Australia,1997,6.2,3.53,23.34,3.53

In [9]:
display(df.min())

Countrycode            AUS
Country          Australia
Year                  1990
Hospital_Stay          3.4
MRI_Units              0.1
CT_Scanners           1.48
Hospital_Beds          0.1
dtype: object

In [8]:
df.shape

(518, 7)

In [11]:
display(df.max())

Countrycode                USA
Country          United States
Year                      2018
Hospital_Stay             32.7
MRI_Units                55.21
CT_Scanners             111.49
Hospital_Beds            55.21
dtype: object

In [12]:
display(df.max())

Countrycode                USA
Country          United States
Year                      2018
Hospital_Stay             32.7
MRI_Units                55.21
CT_Scanners             111.49
Hospital_Beds            55.21
dtype: object

In [ ]:
display()

In [14]:
max_mri_by_country_year = df.groupby(['Country', 'Year'])['MRI_Units'].max()
display(max_mri_by_country_year)

Country        Year
Australia      1992     1.43
               1994     2.36
               1995     2.89
               1996     2.96
               1997     3.53
                       ...
United States  2013    35.51
               2014    38.12
               2015    39.03
               2016    36.74
               2017    37.65
Name: MRI_Units, Length: 518, dtype: float64

In [ ]:
max_mri_by_country_year = df.groupby(['Country', 'Year'])['MRI_Units'].max()
display(max_mri_by_country_year)

In [15]:
1+2=

SyntaxError: cannot assign to expression (ipython-input-3282634048.py, line 1)

In [16]:
type(MRI_Units)

NameError: name 'MRI_Units' is not defined